
datacube[performance,s3]
aiobotocore[awscli,boto3]
odc-apps-dc-tools
odc-apps-cloud
pyyaml>=6.0.1
# Libraries to compile with the local gdal
--no-binary rasterio
--no-binary fiona
--no-binary shapely
# why this won't compile
# because gdal makes PROJ internal by changing symbol names
# --no-binary pyproj
