
datacube[performance,s3]
aiobotocore[awscli,boto3]
#Azure indexing, just in case
azure-storage-blob
odc-apps-dc-tools
odc-apps-cloud
pyyaml>=6.0.1
# Libraries to compile with the local gdal
--no-binary rasterio
--no-binary fiona
--no-binary shapely
