--extra-index-url https://packages.dea.ga.gov.au/

datacube[performance,s3]==1.8.5
aiobotocore[awscli,boto3]==1.3.3
hdstats==0.1.8.post1
odc-stats
# For integration tests
odc-apps-cloud
odc-apps-dc-tools
# For user convenience
awscli
rio-cogeo
