rio-cogeo
datacube[performance,s3]
aiobotocore[awscli,boto3]

# odc-stac is in PyPI
odc-stats==1.0.7
odc-dscache==0.2.0a3
odc-stac==0.2.2
odc-apps-cloud==0.2.1
odc-algo==0.2.1
odc-cloud==0.2.1
# For testing
odc-apps-dc-tools==0.2.1

--extra-index-url https://packages.dea.ga.gov.au/
hdstats==0.1.8.post1

--no-binary rasterio
--no-binary fiona
--no-binary shapely
