--extra-index-url https://packages.dea.ga.gov.au/
datacube[performance,s3]==1.8.4.dev52+g07bc51a5
odc-stats
hdstats==0.1.8.post1
# For the s3-find app
odc-apps-cloud
# For integration tests
odc-apps-dc-tools
sat-search
# For user convenience
awscli

--no-binary=rasterio\
,Shapely\
,netCDF4\
,pyproj\
,hdstats\
,lmdb\
,lxml\
,numexpr\
,pyzmq\
,msgpack\
,ruamel.yaml.clib\
,zstandard\

