name : Index Test and Push

env:
  IMAGE_NAME: opendatacube/datacube-index

on:
  pull_request:
    branches:
      - main
    paths:
      - 'index/**'
      - '.github/workflows/index-*'
  push:
    branches:
      - main
    paths:
      - 'index/**'
      - '.github/workflows/index-*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Run Dockerized Bootstrapping from Git
      timeout-minutes: 20
      shell: bash
      run: |
        cd index
        make test-bootstrapping

    - name: Run Dockerized Tests for S3
      timeout-minutes: 20
      shell: bash
      run: |
        cd index
        make test-indexing

  push:
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # This is required for requesting the JWT
      packages: write  # This is required for pushing to ghcr
      attestations: write # This is required for pushing the attestation
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Verify Changed files
      uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
      id: verify-changed-version
      with:
        files: |
            index/version.txt

    - name: Run step only when version.txt change.
      if: steps.verify-changed-version.outputs.any_changed == 'true'
      run: |
        echo "VERSION=$(cat index/version.txt)" >> $GITHUB_ENV

    - name: echo dev version for dockhub image tagging
      if: steps.verify-changed-version.outputs.any_changed == 'false'
      run: |
        echo "VERSION=$(cat index/version.txt).dev${{ github.run_id }}" >> $GITHUB_ENV

    - name: Login to GitHub Container Registry
      uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    # Push to both Dockerhub and GitHub Container Registry
    - name: Build Docker
      id: push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: "{{defaultContext}}:index"
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
        tags: |
          ghcr.io/${{ env.IMAGE_NAME }}:latest
          ghcr.io/${{ env.IMAGE_NAME }}:${{ env.VERSION }}

    - name: Attest Docker image
      uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
      id: attest
      with:
        subject-name: ghcr.io/${{ env.IMAGE_NAME }}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
